@import url(fonts.googleapis.com/css?family=Noto+Sans);


@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url('Fonts/Open Sans/OpenSans-Regular.ttf') format('ttf');
  }


@font-face {
  font-family: 'Sandler Trial';
  src: url('Fonts/Sandler Trial/Sandler\ Trial.otf') format('otf');
}

  /* body {
    font-family: 'Comic Sans MS', sans-serif !important;
  } */

