@font-face {
    font-family: 'Open Sans';
    src: url('./Fonts/Open Sans/OpenSans-Regular.ttf') format('ttf');
  }

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(179, 220, 243);
}

.font-detection-box{
    background-color: lightblue;
    padding: 5px;
    border: 0.5px solid darkblue;
  }

.btn-primary{
    border-radius: 4px;
    background-color: lightblue;
    border: 1.5px solid darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    padding: 10px;
    cursor: pointer;
    
}

.btn-primary:hover{
    background-color: rgb(147, 184, 211);
}

.container{
    height: 100px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.font-changer{
    font-size: large;
    font-weight: 600;
}