@font-face {
    font-family: 'Open Sans';
    src: url('./Fonts/Open Sans/OpenSans-Regular.ttf') format('ttf');
  }

  :root {
    --primary-color: rgb(32, 125, 192);


  }

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    
}



.font-selection-box{
    border-radius: 0.25em;
    background-color: white;
    color: var(--primary-color);
    padding: 5px;
    width: 150px;
    font-weight: 400;
  }

.btn-primary{
    border-radius: 4px;
    background-color: white;
    border: 1.7px solid var(--primary-color);
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    padding: 5px;
    cursor: pointer;
    
}

.btn-primary:hover{
    background-color: var(--primary-color);
    color: white;
}

.option{
    font-weight: 400;
    color: var(--primary-color);
}

.container{
    height: 300px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgb(164, 152, 207);
}

.font-changer{
    font-size: large;
    font-weight: 600;
}